header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--header-footer-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  z-index: 10;
  top: 0;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}