footer {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--header-footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  z-index: 10;
  bottom: 0;
  border-top: 1px solid var(--border-color);
  font-size: 0.9rem;
  color: var(--muted-text);
}